

# Dockerで使うプロジェクト名
COMPOSE_PROJECT_NAME = "django-weather"

# MariaDB
# dockerから接続する場合はlocalhostではない
MARIADB_HOST=localhost
MARIADB_PORT = 7307
MARIADB_DATABASE = weather_data
MARIADB_USER = dbuser
MARIADB_PASSWORD = dbpass
MARIADB_ROOT_PASSWORD = rootpass

# ダウンロードディレクトリの基準

