{% extends 'weather_data/base.html' %}
{% block content %}

<div class="mx-auto col-10">
    <h1>気象情報 Top</h1>
    <form method="get">
        <button type="button" onClick="year_change(-1)">-1</button>
        <select name="year" onChange="this.form.submit()">
            {% for i in years %}<option value="{{ i }}"{% if i == year %} selected {% endif %}>{{i}}</option>
            {% endfor %}</select>
        <button type="button" onClick="year_change(1)">+1</button>
        {% for area in config.areas %}
        <ul class="row list-group">
            <li class="col-2">{{ area.name }} </li>
            <ul class="col-4 row">
                {% for station in area.stations %}
                <li class="col-4">
                    <input 
                        type="radio" name="station" 
                        id="station-{{ station }}"{% if station_name == station %} checked{% endif %}
                        value="{{ station }}"
                        onChange="this.form.submit()"
                    >
                    <label for="station-{{ station }}">{{ station }}</label>
                </li>
                {% endfor %}
            </ul>
        </ul>
        {% endfor %}
        <input type="submit" value="再表示">
    </form>
    <div class="overflow-auto border border-primary" style="height: 50em;">
        <div>count: {% if weather_data %}{{ weather_data|length }}{% endif %}</div>
        <table class="weather_data border border-primary">
            <tr>
                <td class="fw-bold bg-primary text-center text-white">日付</td>
                <td class="fw-bold bg-primary text-center text-white">最高気温</td>
                <td class="fw-bold bg-primary text-center text-white">最低気温</td>
            </tr>
            {% for detail in weather_data_list %}
            <tr>
                <td class="body-secondary">{{ detail.date }}</td>
                <td class="p-1 m-5 bg-body-tertiary">
                    {% if detail.temperature_highest %}
                        {{ detail.temperature_highest }}
                    {% endif %}
                </td>
                <td class="bg-body-tertiary">
                    {% if detail.temperature_lowest %}
                    {{ detail.temperature_lowest }}
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">データがない</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}